# Config file for automatic testing at travis-ci.org

sudo: false
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - pip install pip -U
  - pip install -r requirements-dev.txt -U
script:
    - ./analyse-code.sh
after_success:
  - coveralls
notifications:
  email: false